%p
  %b
    Username:
  = @user.username

%p
  %b
    First name:
  = @user.first_name

%p
  %b
    Last name:
  = @user.last_name

%p
  %b
    Email:
  = @user.email

=form_tag(user_follows_path(@user), :method => :create) do
  .actions
    =submit_tag("Follow")

= link_to 'Back', users_path
