.row
  .span4
    %p
      %b
      = image_tag @user.avatar.url(:thumb)
    %p
      %b
        Username:
      = @user.username

    %p
      %b
        First name:
      = @user.first_name

    %p
      %b
        Last name:
      = @user.last_name

    %p
      %b
        Email:
      = @user.email

  .span8
    .offset5
      %p
        %b
          People #{@user.username} is Following:
          %br
        -@usersbeingfollowed.each do |u|
          = image_tag u.avatar.url(:thumb)
          = link_to u.username, user_path(u.id)
          %br

%br

%h1= "#{@user.username}'s runs"
.row
  .span8
    %table.table
      %thead
        %tr
          %th
            Time
          %th
            Game Name
          %th
            Verified
      %tbody
        - @runs.each do |run|
          %tr
            %td
              = link_to run.time_in_seconds, game_run_path(run.game, run)
            %td
              = link_to run.game.name, game_path(run.game)
            %td
              - if run.verified
                √ 

-if signed_in?
  -if @user != current_user
    -if @following.empty?
      =form_tag(user_follows_path(@user), :method => :create) do
        .actions
          =submit_tag("Follow")
    -else
      =link_to 'Unfollow', user_follow_path(@user), method: :delete

= link_to 'Back', users_path
