- if !@user.avatar =~ /missing/
  %p
    %b
    = image_tag @user.avatar.url(:thumb)

%p
  %b
    Username:
  = @user.username

%p
  %b
    First name:
  = @user.first_name

%p
  %b
    Last name:
  = @user.last_name

%p
  %b
    Email:
  = @user.email

%p
  %b
    People #{@user.username} is Following:
    %br
  -@usersbeingfollowed.each do |u|
    =link_to u.username, user_path(u.id)
    %br

-if signed_in?
  -if @user != current_user
    -if @following.empty?
      =form_tag(user_follows_path(@user), :method => :create) do
        .actions
          =submit_tag("Follow")
    -else
      =link_to 'Unfollow', user_follow_path(@user), method: :delete

= link_to 'Back', users_path
