%h1
  Listing games

%table.table
  %thead
    %tr
      %th Name
      %th System
      %th Release year
      %th Publisher
      %th Series
      - if current_user && is_admin?
        %th
        %th
  %tbody
    - @games.each do |game|
      %tr
        %td= link_to game.name, game
        %td= game.system
        %td= game.release_year
        %td= game.publisher
        %td= game.series
        - if current_user && is_admin?
          %td= link_to 'Edit', edit_game_path(game), class: "btn"
          %td= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn"

%br
- if !current_user
  = link_to "Sign Up", signup_path, class: "btn btn-large btn-primary"

- if current_user && is_admin?
  = link_to 'New Game', new_game_path, class: "btn"
