%h1
  - if !@game.coverart =~ /missing/
    = image_tag @game.coverart.url(:thumb) 
  = @game.name

.well
  %p
    %b
      System:
    = @game.system

  %p
    %b
      Release year:
    = @game.release_year

  %p
    %b
      Publisher:
    = @game.publisher

  %p
    %b
      Series:
    = @game.series

- if !@firstanyurl.nil? || !@first100url.nil?
  .row
    .span6
      - if !@firstanyurl.nil?
        %iframe{ width: "420", height: "315", src: "http://www.youtube.com/embed/#{@firstanyurl}", frameborder: "0", allowfullscreen: true }
    .span6 
      - if !@first100url.nil?
        %iframe{ width: "420", height: "315", src: "http://www.youtube.com/embed/#{@first100url}", frameborder: "0", allowfullscreen: true }

%br
- if current_user
  = link_to "New Run", new_game_run_path(@game), class: "btn"
%br
%br
.row
  .span6
    %h1
      Runs - Any%
    %table.table.table-striped
      %thead
        %tr
          %th
            Username
          %th
            Time
          %th
            Category
          %th
            Link
          %th
            Verified
          - if !@mod.nil? || is_admin?
            %th
              Verify?
      %tbody
        - @runsany.each do |run|
          - if run.verified == true || !@mod.nil? || is_admin?
            %tr
              %td
                = link_to "#{run.user.username}", run.user
              %td
                = link_to "#{run.time_in_seconds}", game_run_path(@game, run)
              %td
                = run.category
              %td
                = run.url
              %td
                - if run.verified
                  √
              - if !@mod.nil? || is_admin?
                %td
                  - if run.verified
                    = link_to "Remove Verification", verifyrun_game_run_path(@game, run), class: "btn"
                  - else
                    = link_to "Verify Run", verifyrun_game_run_path(@game, run), class: "btn"



  .span6
    %h1
      Runs - 100%
    %table.table.table-striped.span6
      %thead
        %tr
          %th
            Username
          %th
            Time
          %th
            Category
          %th
            Link
          %th
            Verified
          - if !@mod.nil? || is_admin?
            %th
              Verify?
      %tbody
        - @runs100.each do |run|
          - if run.verified == true || !@mod.nil? || is_admin?
            %tr
              %td
                = link_to "#{run.user.username}", run.user
              %td
                = link_to "#{run.time_in_seconds}", game_run_path(@game, run)
              %td
                = run.category
              %td
                = run.url
              %td
                - if run.verified
                  √
              - if !@mod.nil? || is_admin?
                %td
                  - if run.verified
                    = link_to "Remove Verification", verifyrun_game_run_path(@game, run), class: "btn"
                  - else
                    = link_to "Verify Run", verifyrun_game_run_path(@game, run), class: "btn"

%br
= link_to 'Back', games_path, class: "btn"

- if current_user && is_admin?
  %br
  %br
  = link_to 'Edit Game', edit_game_path(@game), class: "btn"
  %br

