%p
  %b
    Name:
  = @game.name

%p
  %b
    System:
  = @game.system

%p
  %b
    Release year:
  = @game.release_year

%p
  %b
    Publisher:
  = @game.publisher

%p
  %b
    Series:
  = @game.series


= link_to 'Edit', edit_game_path(@game)
%br
= link_to 'Back', games_path
