<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>System:</b>
  <%= @game.system %>
</p>

<p>
  <b>Release year:</b>
  <%= @game.release_year %>
</p>

<p>
  <b>Publisher:</b>
  <%= @game.publisher %>
</p>

<p>
  <b>Series:</b>
  <%= @game.series %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
