%h1
  Listing runs

%table.table
  %tr
    %th Url
    %th Verified
    %th Category
    %th Time in seconds
    %th
    %th
    %th

  - @runs.each do |run|
    %tr
      %td= run.url
      %td= run.verified
      %td= run.category
      %td= run.time_in_seconds
      %td= link_to 'Show', game_run_path(run.game_id, run)
      %td= link_to 'Edit', '#'
      %td= link_to 'Destroy', '#', method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Run', '#'
