%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "SpeedRunner", root_path, class: "brand white"
      %nav
        %ul.nav.pull-right
          %li= link_to "Home", root_path 
          - if signed_in?
            %li= link_to current_user.username, current_user
            %li= link_to "Sign Out", signout_path, method: "delete"
          - else
            %li= link_to "Sign In", signin_path
